

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: unset;
}

button,
input,
textarea,
select {
	font: inherit;
}

img,
picture,
svg,
canvas {
	display: block;
	max-inline-size: 100%;
	block-size: auto;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

p {
	line-height: inherit;
	font-size: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
